<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/hotspotwebsite/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/hotspotwebsite/img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% spaceless %}{% block pageTitle %}{% endblock %}{% endspaceless %} | IP-Media Hotspot</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('bundles/hotspotwebsite/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ asset('bundles/hotspotwebsite/css/animate.min.css') }}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ asset('bundles/hotspotwebsite/css/paper-dashboard.css') }}" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <script src="https://use.fontawesome.com/bec2b25a82.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/hotspotwebsite/css/themify-icons.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="info">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://ip-media.pl" class="simple-text">
                    {% spaceless %}{% block placeName %}IP-Media{% endblock %}{% endspaceless %}
                </a>
            </div>

            <ul class="nav">
                <li {% if activePage == 'index' %} class="active" {% endif %}>
                    <a href="{{ path('website_index') }}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li {% if activePage == 'users' %} class="active" {% endif %}>
                    <a href="{{ path('website_users') }}">
                        <i class="ti-view-list-alt"></i>
                        <p>Użytkownicy</p>
                    </a>
                </li>
                <li {% if activePage == 'new-user' %} class="active" {% endif %}>
                    <a href="{{ path('website_new_user') }}">
                        <i class="ti-text"></i>
                        <p>Dodaj użytkownika</p>
                    </a>
                </li>
                <li {% if activePage == 'settings' %} class="active" {% endif %}>
                    <a href="{{ path('website_settings') }}">
                        <i class="ti-pencil-alt2"></i>
                        <p>Ustawienia</p>
                    </a>
                </li>
                <li {% if activePage == 'profile' %} class="active" {% endif %}>
                    <a href="{{ path('website_profile') }}">
                        <i class="ti-user"></i>
                        <p>Twój profil</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% block navTitle %}{% endblock %}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
                                <p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-building"></i>
                                <p class="notification">5</p>
                                <p>Notifications</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="ti-settings"></i>
                                <p>Wyloguj</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            {% block content %}{% endblock %}
       </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://ip-media.pl/">
                                IP-Media
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pomoc
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Kontakt
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="{{ asset('bundles/hotspotwebsite/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/hotspotwebsite/js/bootstrap.min.js') }}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{{ asset('bundles/hotspotwebsite/js/bootstrap-checkbox-radio.js') }}"></script>

<!--  Charts Plugin -->
<script src="{{ asset('bundles/hotspotwebsite/js/chartist.min.js') }}"></script>

<!--  Notifications Plugin    -->
<script src="{{ asset('bundles/hotspotwebsite/js/bootstrap-notify.js') }}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="{{ asset('bundles/hotspotwebsite/js/paper-dashboard.js') }}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ asset('bundles/hotspotwebsite/js/main.js') }}"></script>
{% block javascripts %}
{% endblock %}
<script type="text/javascript">
    $(document).ready(function(){

        demo.initChartist();

        // $.notify({
        // 	icon: 'ti-gift',
        // 	message: "Welcome to <b>Paper Dashboard</b> - a beautiful Bootstrap freebie for your next project."

        // },{
        // 	type: 'success',
        // 	timer: 4000
        // });

    });
</script>

</html>