<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
      <div class="row">
          <h2>Login form</h2>
      </div>

      <div class="row">
          <div class="col-md-12">
              {% if error %}
                  <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <form action="{{ path('login_check') }}" method="post">
                  <div class="form-group">
                      <label class="col-sm-2" for="username">Username:</label>
                      <div class="col-sm-10">
                          <input type="text" id="username" name="_username" value="{{ last_username }}" />
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2" for="password">Password:</label>
                      <div class="col-sm-10">
                          <input type="password" id="password" name="_password" />
                      </div>
                  </div>

                  <input type="hidden" name="_target_path" value="/" />
                  <button type="submit">login</button>
              </form>
          </div>
      </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>