{% extends "HotspotWebsiteBundle::base.html.twig" %}

{% block pageTitle %}Nowy użytkownik{% endblock %}

{% block navTitle %}Dodaj nowego użytkownika{% endblock %}

{% set activePage = 'new-user' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                {{ form(form) }}
            </div>
        </div>

    </div>
</div>
{% endblock %}